body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#container{
    background-color: white;
}
.left-pane{
    background-color: #099dfd;
    width: 45vw;
    height: 100vh;
    padding-top: 170px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.logo{
    width: 60%;
    padding-top: 30px;
    margin: 0 auto;
}

#img-container{
    max-width: 100%;
    max-height: 100%;
}

.loginContainer{
    margin-top: 20vh;
    text-align:left;
    padding-top:13%;
    padding-left: 17%;
    display: flex;
    flex-direction: column;
    /*
    align-items: center;
    */
}

#headingText{
    font-size: 2rem;
    display: inline-block;
}
#highlighted{
    color: #099dfd;
}

#email{
    margin-top: 30px;
    width:75%;
}

#password{
    margin-top: 5px;
    width:75%;
}

input{
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    font-size: 1.25rem;
    border: 2px solid #099dfd;
    border-radius: 5px;
}
.submitButton{
    background-color: #099dfd;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: #099dfd;
    border: none;
    font-size: 1.25rem;
    border-radius: 5px;
    width:20%;
    height:35px;
}

#flexContainer{
    display: flex;
    flex-direction: row;
}

#right-pane{
    flex: 1;
    text-align: center;
    padding-left:70px;
    height: 100vh;
}

#illustration{
    max-width: 100%;
    max-height: 100%;
}

#illustrationContainer{
    width: 500px;
    margin: auto;
    padding-bottom: 45px;
}

#bottomText{
    font-size: 1.8rem;
    color: white;
    display: inline-block;
    padding-top:150px;
}